<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h1>Product</h1>
<p>
    <a th:href="@{/products/create}">
        <button>Add new product</button>
    </a>
</p>
<table id="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Description</th>
        <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="product : ${view}">
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getPrice()}"></td>
            <td th:text="${product.getAmount()}"></td>
            <td th:text="${product.getDescription()}"></td>
            <td><a th:href="@{/products/edit/{id}(id=${product.getId()})}">Edit</a></td>
            <td><a th:href="@{/products/delete/{id}(id=${product.getId()})}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a></td>
        </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>